.button-primary {
    border: none;
    color: #ffffff;
    display: inline-block;
    position: relative;
    padding: 10px 24px;
    background-color: #F56960;
    border-radius: 5px;
}
.button-primary:hover{
    background-color: #0085ba;
}
.hero{
    position: relative; z-index: 500;
    background-size: cover;
    background-position:center center;
    padding: 150px 0;
    align-items: center;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
}

.container h1{
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-align: center;
}
.search-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.205);
    position: relative;
    z-index: 10;
}
.section{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #ffffff;
}
.container h3{
     color: #F56960;
}
.container .dash-style {
    padding-left: 80px;
    position: relative;
}
.container .dash-style:before {
    background-color: #F56960;
    content: "";
    height: 2px;
    width: 70px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 50%;
}
.container h5{
    color: #101F46;
}
.card{
    background-size: cover;
    background-position:center; 
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.205);
}
.trending-container {
    margin-top: 50px;
    margin-bottom: 30px;
}

.destinations-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.destination-card {
    position: relative;
    width: calc(33.333% - 10px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.178);
}

.destination-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}
.destination-card img:hover {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.flag img {
    width: 20px; /* Adjust as needed */
    height: auto;
    margin-left: 5px;
}
.heros{
    background-color: #f7e8e7a2;
    padding-top: 20px;
}
.heros img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.features {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 20px;
}

.feature {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}
.feature.active ,.feature:hover{
    background: linear-gradient(360deg, #e0e9fa, #97afd4);
   
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 20%;
    background: #004979;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: -70px;
}

.feature h4 {
    margin: 10;
    color: #101F46;
}
@media (max-width: 768px) {
    .destination-card {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .destination-card {
        width: 100%;
    }
}
/* passenger form and select */
.passenger-select {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .passenger-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 80px; /* Adjust based on your design */
    right: 50px; /* Adjust based on your design */
    z-index: 100;
  }
  
  .passenger-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .passenger-form p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .passenger-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .passenger-count input {
    flex: 1;
    text-align: center;
    border: none;
    background: none;
  }
  
  .passenger-count button {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1;
  }
  
  .passenger-count button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  @media (max-width: 600px) {
    .search-container {
      width: 100%;
      padding: 10px;
    }
  }