<header class="hero" style="background-image: url('assets/inner-banner.jpg');">
</header>
<!-- <div class="container-fluid">
    <div class="content" style="background-image: url('assets/save.jpg');" *ngIf="!itemSaved">
      <div class="content-text overlay">
        <i class="fa-regular fa-heart love-icon"></i>
        <h2>Save & Share Properties You Love</h2>
        <p>Lists let you bookmark properties and share them with friends, from any device, whenever you want.</p>
        <button class="button-primary" (click)="saveItem()">Create an account to start making lists</button>
      </div>
    </div>
    <div class="container" *ngIf="itemSaved"> 
      <div class="header"><h1>my next trip</h1></div>
      <div class="card">
          <div class="card-header">
            <img src="image" class="hotel-image" alt="">
          </div>
          <div class="card-body">
            <h2 class="card-title"></h2>
            <div class="card-location"></div>
            <div class="card-price-duration">
              <span class="card-price">30 eg</span>
              <span class="card-duration">uhkhlknkjk</span>
            </div>
            <div class="card-rating-reviews">
              <p class="card-rating">5 ⭐</p>
              <p class="card-reviews">hhh Reviews</p>
            </div>
            <button class="book-now-btn" (click)="removeItem()">Book Now</button>
          </div>
     </div>
   </div>
</div> -->
<div class="wishlist-container" >
    <h3>My Next Trip</h3>
    <div class="card">
        <div class="card-header">
          <img src="image" class="hotel-image" alt="">
        </div>
        <div class="card-body">
          <h2 class="card-title"></h2>
          <div class="card-location"></div>
          <div class="card-price-duration">
            <span class="card-price">30 eg</span>
            <span class="card-duration">uhkhlknkjk</span>
          </div>
          <div class="card-rating-reviews">
            <p class="card-rating">5 ⭐</p>
            <p class="card-reviews">hhh Reviews</p>
          </div>
          <button class="book-now-btn" (click)="removeItem()">Remove</button>
        </div>
   </div>
</div>

